@page "/"
@namespace LKDUS_UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LKDUS-UI</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>

        window.exampleJsFunctions =
        {
            focusElement: function (element) {
                element.focus();
            }
        };

        window.jsfunction =
            { focusElement: function (id) { const element = document.getElementById(id); element.focus(); } }

    </script>
    <script src="js/lib/barcodereader/zxing.js"></script>
    <script src="js/lib/barcodereader/barcode.js"></script>
    <script src="js/lib/handwritten/handwritten.js"></script>



    <script type="text/javascript" src="JsLib"></script>zzzzzzzzzzzzzzzzzzzz
    @*<script src="_framework/blazor.server.js"></script>
        <script>window.jsfunction =
                { focusElement: function (id) { const element = document.getElementById(id); element.focus(); } }</script>*@
</body>
</html>
