@inject NavigationManager navManager
@using LKDUS_UI.Pages
<style>
    #row1 {
        padding: 20px 20px 20px 20px;
        overflow: hidden;
    }

    .button-container {
        display: flex;
        /* displays flex-items (children) inline */
        justify-content: space-between;
        /* MDN: The items are evenly distributed within the alignment container along the main axis. The spacing between each pair of adjacent items is the same. */
        align-items: center;
        /* centers them vertically */
    }



    #back {
        background-color: #1b6ec2;
        color: white;
        padding: 25px;
        text-align: center;
    }

    #save {
        background-color: #1b6ec2;
        color: white;
        padding: 25px;
        text-align: center;
    }
</style>


<div id="row1">
    <div class="button-container">
        <span class="button-left" @onclick="@goback">
            <h1><a id="back">Atpakaļ</a></h1>
        </span>
        <span>
            <h1>@Title</h1>
        </span>
        <span style="visibility:@HiddenOrVisible" @onclick="(() => OnClick.InvokeAsync())" class="button-right">
            <h1  ><a id="save">Saglabāt</a></h1>
        </span>
    </div>
</div>
@code {
    [Parameter]
    public string Link { get; set; }
    [Parameter]
    public string HiddenOrVisible { get; set; }

    [Parameter]
    public string Title { get; set; }

    private void goback(MouseEventArgs e)
    {
        this.navManager.NavigateTo(Link);
    }


    [Parameter] public EventCallback<string> OnClick { get; set; }
}